<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calcula tu presupuesto</title>
</head>
<body>
    <div class="container">
        <h1 *ngIf="showHeadingAndButton">Calcula tu presupuesto</h1>
        <button *ngIf="showHeadingAndButton" (click)="navigateToHome()">Calcular</button>
        <app-home *ngIf="showHome"></app-home>
        <button *ngIf="showHome" (click)="navigateToWelcome()">Volver</button>
    </div>
</body>
</html>

